/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

.movement-plugin {
  position: fixed;
  right: 0;
  /* width: 100px; */
  /* background: rgba(0, 0, 0, 0.3); */
  z-index: 9999;
  border-radius: 8px 0 0 8px;
  bottom: 30px;
}
