/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";

.movement-plugin {
  position: fixed;
  right: 0;
  /* width: 100px; */
  /* background: rgba(0, 0, 0, 0.3); */
  z-index: 9999;
  border-radius: 8px 0 0 8px;
  bottom: 30px;
}

.date{
  padding: 0!important;
}

.dateDiv {
  padding-left: 0!important;
}

.dateButton {
  margin-top: 0;
  margin-bottom: 0;
}

.iconDanger {
  color: red!important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
